<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO" monitorInterval="30">
  <Properties>
    <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
    <Property name="APP_LOG_ROOT">D:/java/logs</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT" follow="true">
      <PatternLayout pattern="${LOG_PATTERN}" />
    </Console>
    
    
 
    <RollingFile name="appLog"
      fileName="${APP_LOG_ROOT}/application.log"
      filePattern="${APP_LOG_ROOT}/application-%d{yyyy-MM-dd}-%i.log">
      <PatternLayout pattern="${LOG_PATTERN}" />
      <Policies>
        <SizeBasedTriggeringPolicy size="19500KB" />
      </Policies>
      <DefaultRolloverStrategy max="1" />
    </RollingFile>
 
  </Appenders>
  
   <appender name="fileLog" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${APP_LOG_ROOT}/application.log"/>
        <param name="MaxFileSize" value="100KB"/>
        <!-- Keep one backup file -->
        <param name="MaxBackupIndex" value="1"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %t %c - %m%n"/>
        </layout>
    </appender>
  <Loggers>
 
    <Logger name="com.howtodoinjava.app" additivity="false">
    <AppenderRef ref="fileLog" />
      <AppenderRef ref="appLog" />
      <AppenderRef ref="Console" />
    </Logger>
 
    <Root level="info">
    <AppenderRef ref="fileLog" />
      <AppenderRef ref="Console" />
      <AppenderRef ref="appLog" />
    </Root>
  </Loggers>
</Configuration>